body {
    margin: 0;
}

.gallery {
    width: 100%;
    height: auto;
}

.frame {
    width: 100%;
    height: 100vh;
}

.frame img {
    overflow: hidden;
}

.oakland_palms {
    width: 100%;
    position: absolute;
    top: -80%;
}

.george_floyd_chalk {
    width: 100%;
}
